/* Estilos gerais da página */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');





.App {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
  padding-left: 10px; /* Reduzido para evitar overflow */
  padding-right: 10px; /* Reduzido para evitar overflow */
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal */
}

/* Estilos do cabeçalho */
.App-header {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 6px #FD0000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-height: 60px;
  z-index: 1000;
  padding: 10px;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between; /* Coloca espaço entre os elementos */
}

.App-header h1,
.App-header p {
  margin: 0; /* Remove margens para melhor alinhamento */
}

.App-header h1 {
  color: #F2EDEB;
  text-shadow: 0px 0px 3px #FD0000;
  font-size: 2.5rem;
  margin: 0;
}

.App-header p {
  color: white;
  letter-spacing: 5px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Estilos do container do relatório (report) */
.report {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Altura do report excluindo o header */
  padding-top: 60px; /* Para evitar sobreposição do header */
  padding-left: 10px; /* Reduzido para evitar overflow */
  padding-right: 10px; /* Reduzido para evitar overflow */
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal */
}

/* Estilos da barra de pesquisa */
.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap; /* Permite que os itens se ajustem no mobile */
}

/* CPF UTILIZE */

.cpf-utilize h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 3px #FD0000;
  animation: breathing 8s infinite alternate ease-out; /* Adiciona a animação */
}

/* Definindo a animação */
@keyframes breathing {
  80% {
    color: #ffffff; /* Cor original (vermelho) */
  }
  30% {
    color: rgba(255, 255, 255, 0.5); /* Cor mais clara (semi-transparente) */
  }
  100% {
    color: rgb(255, 255, 255); /* Retorna à cor original */
  }
}

.cpf-utilize p {
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0px 0px 2px #FD0000;
    font-size: 18px;
    letter-spacing: 2px;

}
 




.search-input {
  background-color: rgb(0, 0, 0);
  padding: 8px;
  font-size: 14px;
  border-radius: 100px;
  outline: none;
  border: 1px double black;
  box-shadow: 1px 0px 5px #FD0000;
  color: rgb(255, 241, 241); /* Cor do texto no input */
  flex: 1; /* Permite que o input ocupe espaço disponível */
  min-width: 200px; /* Define um tamanho mínimo para o input */
}

.search-input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button,
.clear-button {
  padding: 10px 16px;
  box-shadow: 1px 0px 2px #FD0000;
  background-color: #0E0E0E;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  min-width: 80px; /* Tamanho mínimo para os botões */
}

.search-button:hover,
.clear-button:hover {
  background-color: #fd00004f;
}

.search-button:active,
.clear-button:active {
  background-color: #272527;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column; /* Itens em coluna para mobile */
    width: 90%; /* Ajusta a largura para caber bem no mobile */
  }

  .App-header h1 {
    font-size: 3.8rem;
  }

  .App-header p {
    font-size: 0.8rem;
  }

  .report {
    padding-top: 80px; /* Garantindo que o conteúdo não se sobreponha ao header */
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap; /* Permite que os itens se ajustem no mobile */
    max-width: 600px; /* Define uma largura máxima para o container */
    margin: 0 auto; /* Centraliza o container na tela */
  }

  .search-input {
    background-color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 14px;
    border-radius: 100px;
    outline: none;
    border: 1px double black;
    box-shadow: 1px 0px 5px #FD0000;
    color: rgb(255, 241, 241); /* Cor do texto no input */
    flex: 1; /* Permite que o input ocupe espaço disponível */
    min-width: 150px; /* Tamanho mínimo para o input, ajuste conforme necessário */
  }
  .search-button,
  .clear-button {
    width: auto; /* Botões não ocupam toda a largura no mobile */
    padding: 10px;
    font-size: 16px; /* Ajuste do tamanho da fonte */
  }
}

